@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: black;
}

.profile-img {
  border-radius: 50%;
  width: 30px;
}

/* .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
} */